img {
    width: 500px;
    height: 500px;
}

h1, h2{
    padding-top: 35px;
}

#login{
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#left, #right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

#lcontent{
    width: 100%;
    height: 44%;
    display: flex;
    flex-direction: row !important;
}

#fleft, #fright {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

form{
    box-sizing: border-box;
    border-radius: 20px;
    width: 85%;
    height: 80vh;
    border: 2px solid black;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    padding: 5px;
    background-color: lightcyan;
    border-radius: 10px;
    width: 80%;
    font-size: 20px;
}

#error {
    height: 5%;
    color: red;
    font-size: 20px;
    font-weight: 600;
    margin: 5px;
    line-height: 20px;
}

#button {
    height: 20%;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 25px;
    font-family: 700;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
}

button:hover {
    color: black;
    background-color: white;
}

#button p {
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
}